body {
    background-color: #030B18;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: Bebas;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/Bebas Neue/bebas-neue-bold.ttf') format('truetype');
}

